<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="simpleDao" name="dao" class="com.baogex.springframework.beans.factory.service.SimpleDao"/>

    <bean name="simpleService" class="com.baogex.springframework.beans.factory.service.SimpleService">
        <property name="serviceName" value="xmlTestServiceName"/>
        <property name="company" value="default-company"/>
        <property name="location" value="default-location"/>
        <property name="dao" ref="simpleDao"/>
    </bean>

    <bean class="com.baogex.springframework.beans.factory.processor.MyPostBeanFactoryProcessor"/>
    <bean class="com.baogex.springframework.beans.factory.processor.MyPostBeanProcessor"/>
</beans>