<?xml version="1.0" encoding="UTF-8"?>
<beans>



    <bean name="simpleService" class="com.baogex.springframework.beans.factory.service.UserService" scope="prototype">
        <property name="serviceName" value="xmlTestServiceName"/>
        <property name="company" value="default-company"/>
        <property name="location" value="default-location"/>
        <property name="dao" ref="iUserDao"/>
        <property name="token" value="${token}"/>
    </bean>


    <bean class="com.baogex.springframework.beans.factory.event.ContextRefreshedEventListener"/>
    <bean class="com.baogex.springframework.beans.factory.event.CustomEventListener"/>
    <bean class="com.baogex.springframework.beans.factory.event.ContextClosedEventListener"/>

    <bean id="iUserDao" name="iUserDao" class="com.baogex.springframework.beans.factory.service.ProxyBeanFactory"/>
    <!--    <bean class="com.baogex.springframework.beans.factory.processor.MyPostBeanFactoryProcessor"/>-->
    <!--    <bean class="com.baogex.springframework.beans.factory.processor.MyPostBeanProcessor"/>-->
    <!--===================================AOP============================-->
    <bean id="defaultAdvisorAutoProxyCreator" class="com.baogex.springframework.apo.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>
    <bean id="userServiceBeforeAdvice" class="com.baogex.springframework.beans.factory.advice.UserServiceBeforeAdvice"/>
    <bean id="methodBeforeAdviceInterceptor" class="com.baogex.springframework.apo.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="userServiceBeforeAdvice"/>
    </bean>
    <bean id="aspectJExpressionPointcutAdvisor" class="com.baogex.springframework.apo.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* com.baogex.springframework.beans.factory.service.IUserService.*(..))"/>
        <property name="advice" ref="methodBeforeAdviceInterceptor"/>
    </bean>

    <bean class="com.baogex.springframework.beans.factory.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:important.properties"/>
    </bean>
    <bean name="superUser" class="com.baogex.springframework.beans.factory.service.SuperUserService">
        <property name="userDao" ref="iUserDao"/>
        <property name="token" value="${token}"/>
    </bean>
</beans>